:root{
    background-color: #f0c9ea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.orkut-font-color{
    color: #E8258E;
}

.orkut-font-color-default{
    color: rgb(28, 28, 28);
}

.orkut-link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 28, 28);
}

.orkut-button-bg{
    background-color: #E8258E;
    cursor: pointer;
}