:root{
    background-color: #f0c9ea;
}

.container{
    width: 80%;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    border: 1px solid blue;
}

.fields{
    margin: 5% 10%;
}

.pinkfont{
    color: #E8258E;
}

#field__title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    margin-bottom: 5%;
}